#title{
    width: 80%;
    height: 100px;
    background-color: #599532;
    opacity: 70;
    margin: 0 auto;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("img/background.jpg") no-repeat center;
}

h1{
    font-family: monospace;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    color: #1E4B00;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#content{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
    opacity: 0.9;
    padding-bottom: 80px;
}

#title, div.routes, div.resume {
    -webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.92);
}
div.routes{
    display: inline-block;
    vertical-align: middle;
    background-color: #4e7973;
    width: 35%;
}

ul{
    background: transparent url("/img/map_route.png") no-repeat center;
    font-family: fantasy;
    display: table-row;
    vertical-align: inherit;
    border-color: darkgrey;
    color: black;
}

li{
    padding: 10px;
    list-style-type: none;
}

div.resume{
    display: inline-block;
    float: right;
    width: 35%;
    height: inherit;
    padding-left: 20px;
    background-color: #4e7973;
    /*background-color: antiquewhite;*/
    font-family: fantasy;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: verdana;
    background-color: #E4F5A3;
}

/*  FOOTER  */
#footer{
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background: #77a42b;
}
/*********************************************************/
/* MAP
.map{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
}*/

/*  TABLE  */
.table{
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: verdana;
}

iframe{
    margin-left: auto;
}

table, td, th{
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
    background-color: #89a360;
}

th{
    font-family: monospace;
    font-style: oblique;
    font-size: larger;
    background-color: #68a345;
}