#title{
    width: 90%;
    height: 100px;
    background-color: #4CAF50;
    margin: 0 auto;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("img/background.jpg") no-repeat fixed center;
}

.wrapper{
    min-height: 100%;
    position: relative;
}

#description{
    margin-top: 25px;
    background-color: #A5D6A7;
    font-family: verdana, 'Open Sans', sans-serif;
    opacity: 0.9;
    padding: 25px;
    margin-bottom: 25px;
}

h1{
    font-family: monospace, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    color: #1E4B00;
}

#content{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
    opacity: 0.9;
    padding-bottom: 100px;
}

#title, #routes, #resume, #description, .table, .menu {
    box-shadow:         0 7px 16px 0 rgba(50, 50, 50, 0.92);
}

#footer{
    box-shadow:         0 -11px 20px 0 rgba(50, 50, 50, 0.66);
}

#routes{
    display: inline-block;
    vertical-align: middle;
    background-color: #A5D6A7;
    width: 35%;
    padding: 25px;
}

#routes p{
    font-family: verdana, 'Open Sans', sans-serif;
    text-decoration-line: underline;
}

ul{
    font-family: fantasy;
    display: table-row;
    vertical-align: inherit;
    border-color: darkgrey;
    color: black;
}

li{
    padding: 10px;
    list-style-type: none;
}

#resume{
    display: inline-block;
    float: right;
    width: 35%;
    height: inherit;
    background-color: #A5D6A7;
    font-family: fantasy;
    padding: 25px;
}

a:link{
    color: black;
    background-color: #00E676;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: verdana, sans-serif;
    background-color: #E4F5A3;
}

/*  FOOTER  */
#footer{
    width:100%;
    height:100px;
    font-family: verdana, 'Open Sans', sans-serif;
    position:absolute;
    bottom:0;
    left:0;
    background: #388E3C;
}

#footer a{
    background-color:#6fba26;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    box-shadow: inset 0 -5px 5px 0 #b2f17f, 0 -5px 5px 0 #3d6f0d;
    border-radius: 5px;
}

#footer a:active {
    top:7px;
    box-shadow: inset 0 -1px 0 #b2f17f, inset 0 -1px 0 #3d6f0d;
    color: #156785;
    background: rgb(44,160,202);
}

/*  TABLE  */
.table{
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: verdana, 'Open Sans', sans-serif;
}

table a:link{
    color: #156785;
}

table, td, th{
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
    background-color: #66BB6A;
}

th{
    font-family: monospace;
    font-style: oblique;
    font-size: larger;
    background-color: #43A047;
}

@media print {
    *{
        margin: auto;
        float: none;
        box-shadow: none;
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
    }

    .table{
        width: 100%;
        margin: 0;
        float: none;
    }

    #content{
        page-break-inside: avoid;
    }
    a:link, a:visited {
        color: #781351;
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    h1 {
        font-size: 24pt;
        page-break-after: avoid;
    }

    h2 {
        font-size: 14pt;
        margin-top: 25px;
        page-break-after: avoid;
    }

    p {
        font-family: georgia, serif;
        font-size: 14px;
        color: blue;
    }

    table{
        padding: 0;
        border: hidden;
        border-collapse: separate;
    }

    tr, img{
        page-break-inside: avoid;
    }
    img{
        max-width: 100% !important;
    }
}