#title{
    width: 90%;
    height: 100px;
    background-color: #599532;
    margin: 0 auto;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("img/background.jpg") no-repeat center;
}

.wrapper{
    min-height: 100%;
    position: relative;
}

h1{
    font-family: monospace, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    color: #1E4B00;
}

#content{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 25px;
    opacity: 0.9;
    padding-bottom: 100px;
}

#title, div.routes, div.resume, .table, .menu {
    -webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.92);
}

#footer{
    -webkit-box-shadow: 0px -11px 20px 0px rgba(50, 50, 50, 0.66);
    -moz-box-shadow:    0px -11px 20px 0px rgba(50, 50, 50, 0.66);
    box-shadow:         0px -11px 20px 0px rgba(50, 50, 50, 0.66);
}

div.routes{
    display: inline-block;
    vertical-align: middle;
    background-color: #4e7973;
    width: 35%;
}

ul{
    font-family: fantasy;
    display: table-row;
    vertical-align: inherit;
    border-color: darkgrey;
    color: black;
}

li{
    padding: 10px;
    list-style-type: none;
}

div.resume{
    display: inline-block;
    float: right;
    width: 35%;
    height: inherit;
    padding-left: 20px;
    background-color: #4e7973;
    font-family: fantasy;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited {
    color: crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu{
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: verdana, sans-serif;
    background-color: #E4F5A3;
}

/*  FOOTER  */
#footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    background: #77a42b;
}

#footer a{
    background-color:#6fba26;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
    box-shadow: inset 0px -5px 5px 0px #b2f17f, 0px -5px 5px 0px #3d6f0d;
    border-radius: 5px;
}

#footer a:active {
    top:7px;
    background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
    box-shadow: inset 0px -1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
    color: #156785;
    text-shadow: 0px -6px 5px 0px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
}

/*  TABLE  */
.table{
    margin-top: 25px;
    margin-right: 10%;
    margin-left: 10%;
    font-family: verdana, sans-serif;
}

table, td, th{
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
    background-color: #89a360;
}

th{
    font-family: monospace;
    font-style: oblique;
    font-size: larger;
    background-color: #68a345;
}