body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    position: relative;
}
.title {
    width: 80%;
    height: 100px;
    background-color: #599532;
    opacity: 70;
    margin: 0 auto;
    z-index: 1;
}

.title, #content {
    -webkit-box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow:    0px 7px 16px 0px rgba(50, 50, 50, 0.92);
    box-shadow:         0px 7px 16px 0px rgba(50, 50, 50, 0.92);
}

h1{
    font-family: monospace, sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: middle;
    color: #1E4B00;
}

div{
    margin-top: 20px;
}

#post{
    width: 70%;
    margin-left: 15%;
    margin-top: -20px;
    text-align: justify;
    background-color: #e4ffae;
    z-index: 2;
    padding-bottom:100px;
}
#content {
    margin-top: -20px;
    padding: 30px;
}

h2{
    font-family: verdana, sans-serif;
    font-style: oblique;
}

p{
    font-family: verdana, sans-serif;
}
img{
    width: 100%;
}

#footer{
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    left:0;
    background: #77a42b;
    -webkit-box-shadow: 0px -11px 20px 0px rgba(50, 50, 50, 0.66);
    -moz-box-shadow:    0px -11px 20px 0px rgba(50, 50, 50, 0.66);
    box-shadow:         0px -11px 20px 0px rgba(50, 50, 50, 0.66);
}

#footer a{
    background-color:#6fba26;
    padding:10px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#fff;
    background-image: linear-gradient(bottom, rgb(100,170,30) 0%, rgb(129,212,51) 100%);
    box-shadow: inset 0px -5px 5px 0px #b2f17f, 0px -5px 5px 0px #3d6f0d;
    border-radius: 5px;
}

#footer a:active {
    top:7px;
    background-image: linear-gradient(bottom, rgb(100,170,30) 100%, rgb(129,212,51) 0%);
    box-shadow: inset 0px -1px 0px #b2f17f, inset 0px -1px 0px #3d6f0d;
    color: #156785;
    text-shadow: 0px -6px 5px 0px rgba(255,255,255,0.3);
    background: rgb(44,160,202);
}